{% extends "silson/base.html" %}
 {%load staticfiles %}

{% block content %}
<div class="breadcrumbs">
<a href="/">Home</a>
&rsaquo;Jobs
</div>

<h1 >JOBS</h1>  
<div class ="list-group">
    
     
   <a style="font-size: 20px" href = "mask"  class="list-group-item" >Mask</a>
<a style="font-size: 20px" href = "wafer"  class="list-group-item" >Wafer</a>
   <a style="font-size: 20px" href = "prs"  class="list-group-item" >Process Record</a>
<a style="font-size: 20px" href = "job"  class="list-group-item" >Job</a>

    </div>
 
{% endblock %}


