{% extends "silson/base.html" %}
 {% block content %}
 <div class="breadcrumbs">
<a href="/">Home</a>
&rsaquo; <a href="/affiliation">Affiliation</a>
 &rsaquo; Create Affiliation
</div>
<nav class="navbar navbar-default">
<div class="container-fluid">
    <div class="navbar">
    <h2> <a href = "/affiliation">Affiliation</a></h2>
    <ul class="nav navbar-nav navbar-right">
        <ul class="object-tools">    
    <li> <a href="/affiliation/create"  class="addlink">Create Affiliation </a></li>  
        <div class="input-group"> 
       

      </div></ul>
    </ul>
</div>
   </div>
</nav>   
 

<div>
<form action="" method="post">
<input type='hidden' name='csrfmiddlewaretoken' value='tJ1rwEyvLdbSiPY1pOBK0DZD4UiAzhx3' />
 <h2>New Affiliation Information</h2>  
<button> <a class="related-widget-wrapper-link change-related" id="add_id_added_by"
            href="/user/create/?_to_field=id&amp;_popup=1"
            title="Add another user"role="button">New User</a></button>
 <button><a class="related-widget-wrapper-link change-related" id="add_id_added_by"
            href="/customer/create/?_to_field=id&amp;_popup=1"
            title="Add another customer" role="button">New Customer</a></button>
<fieldset class="module aligned ">
   
 {% csrf_token %}
{{ form.as_p }}       
          
</fieldset>
<div class="submit-row">
<input type="submit" value="Save" class="default" name="_save" />
<input type="submit" value="Save and add another" name="_addanother" />
<input type="submit" value="Save and continue editing" name="_continue" />
</div>

</form></div>
   {% endblock %}



