{% extends "silson/base.html" %}
 {%load staticfiles %}

{% block content %}

 
<div class ="list-group">
    
       <a style="font-size: 25px" href = "/customer" class="list-group-item" >CUSTOMER</a>

<a style="font-size: 25px" href = "/staff"  class="list-group-item" >STAFF</a>
    <a style="font-size: 25px" href = "/affiliation"  class="list-group-item" >AFFILIATION</a>
   <a style="font-size: 25px" href = "/user"  class="list-group-item" >PEOPLE</a>
<a style="font-size: 25px" href = "/jobs"  class="list-group-item" >JOBS</a>
   

    </div>
 
{% endblock %}


