{% extends "silson/base.html" %}
{% load staticfiles %}

{% block content %}

<div class="breadcrumbs">
<a href="/">Home</a>
&rsaquo; <a href="/staff/">Staff</a>
&rsaquo; Search Result

</div>

<nav class="navbar navbar-default">
<div class="container-fluid">
    <div class="navbar">
    <h2> <a href = "/staff">Staff</a></h2>
    <ul class="nav navbar-nav navbar-right">
        <ul class="object-tools">    
    <li> <a href="/staff/create"  class="addlink">Create Staff </a></li>  
        <div class="input-group"> 
      

      </div></ul>
    </ul>
</div>
   </div>
</nav>
<h1>Result: {{ query }}</h1>
 
{% for obj in filter %}
<li><a style = " font-size : 20px"  href = "/staff/{{obj.id}}" >{{obj.name}}</a></li>

</ul>  {% endfor %}
 
{% endblock %}


